body {
  margin: 0;
  font-family: "Consolas";
  background-color: #030717;
  overflow: hidden; /* Hide the scrollbar for the entire page */
}

#fixed-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: #030717;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transition: .3s ease;
}

#scrollable-section {
  background-color: #030619;
  color: white;
  margin-left: 50%;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll; /* Enable vertical scrolling for this section */
  transition: .3s ease;
}

/* Add more styling as needed */

/* General */
.title {
  font-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-image {
  display: inline-block;

  height:50px;
  width: 50px;
}


.icons {
  font-size: 50px;
  text-decoration: none;
  color: lightgray;
  transition: .3s ease;
}

.icons:hover {
  color: white;
}

/* Updated Project Section Styles */
.project-section {
  border-radius: 5px;
  align-items: center;
  text-align: center;
}


.grid-project {
  display: grid;
  grid-gap: 1%;
  margin: 2%;
  align-items: center;
  text-align: left;
}

.grid-project .project-item {
  border-radius: 15px;
  transition: .5s ease;
  padding: 5%;
  height: auto;
}


.grid-project .project-item:hover {
  background: #6b6b6b3f;
}

.grid-project .project-item .project-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 2px;
}

.grid-project .project-item .project-tag span {
  background: #fff;
  color: #000;
  border-radius: 25px;
  padding: 5px;
  white-space: nowrap;
}

.grid-project a {
  text-decoration: none;
  color: white;
  text-overflow: clip;
}

.grid-project .project-item h3 {
  font-size: 24px;
  text-align: left;
}

.grid-project .project-item p {
  font-size: 16px;
  line-height: 1.5;
}
.grid-project .project-item .project-logo{
  height: 70px;
  width: 70px;
  border-radius: 15px;

}
/* Move icons to the bottom on small screens */
@media screen and (max-width: 768px) {
  body {
      overflow: visible;
  }

  #fixed-section,
  #scrollable-section {
      width: 100%;
      margin-left: 0;
  }

  .title {
      font-size: 40px;
  }

  #header-image {
      display: none;
  }

  #top-right-text {
      font-size: 14px;
  }

  .icons {
      order: 1;
      margin-top: 20px;
  }
}

